---------------------------------------------------------

Welcome to Skotos Chat Theatres!

To chat with other people, just type in sentences and hit
the enter key.

---------------------------------------------------------
