/* The microphone mute button shows whether you have *self*-muted */
.audible #mute_button.muted: {
	color: #444;
}

.audible #mute_button.unmuted {
	color: #DDD;
}

.silenced #mute_button.muted: {
	color: #888;
}

.silenced #mute_button.unmuted {
	color: #AAA;
}

.silenced #chat_indicator {
	color: #888;
}

/* Chat indicator shows *server* mute/unmute */
.audible #chat_indicator.muted {
	color: #444;
}

.audible #chat_indicator.unmuted {
	color: #DDD;
}

#audio_input_devices {
	max-width: 95%;
}

/* Normally this will be overridden, but it needs to be opaque */
#mainclient {
	background-color: #fff;
}
#meet {
	position: absolute;
	z-index: -5;
}
