html, body, iframe {
	height:100%; width:100%; margin:0; padding:0; border:0 none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#mainclient {
	display:-webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display:-moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display:-ms-flexbox;  /* TWEENER - IE 10 */
	display:-webkit-flex; /* NEW - Chrome */
	display:flex;         /* Current - Opera 12.1, Firefox 20+, IE11+*/
	height:100%;
	font-family: "Open Sans", Roboto, Lato, Verdana, sans-serif;
}
.sidebar {
	height:100%;
	display:-webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display:-moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display:-ms-flexbox;  /* TWEENER - IE 10 */
	display:-webkit-flex; /* NEW - Chrome */
	display:flex;  
	/* Current - Opera 12.1, Firefox 20+, IE11+*/
	flex-direction:column;
	width:136px;
	overflow:hidden;
	background-color:black;
	background-repeat:no-repeat;
}
.sidebar div {text-align:center;}
.sidebar .fill {flex:1;}
#core {
	height:100%;
	display:-webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
	display:-moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
	display:-ms-flexbox;  /* TWEENER - IE 10 */
	display:-webkit-flex; /* NEW - Chrome */
	display:flex;         /* Current - Opera 12.1, Firefox 20+, IE11+*/
	flex-direction:column;
	flex:1;
	max-width:calc(100% - 272px);
}
#inputwrapper {width:calc(100% - 6px);}
#commandinput {width:100%; min-height:2em; border:2px inset #aaa; overflow:auto; resize:none; font:inherit;}
.selectable {
	-webkit-touch-callout: text;
	  -webkit-user-select: text;
	   -khtml-user-select: text;
	     -moz-user-select: text;
	      -ms-user-select: text;
	          user-select: text;
}
.columnized {
	   -moz-column-width: 160px;
	-webkit-column-width: 160px;
	        column-width: 160px;
	             display: block;
	         /*line-height:   1em;*/
	overflow-wrap:   break-word;
	column-rule: 1px dotted #444;
}
.narrow-columns {
	   -moz-column-width: 80px;
	-webkit-column-width: 80px;
	        column-width: 80px;
}
.wide-columns {
	   -moz-column-width: 240px;
	-webkit-column-width: 240px;
	        column-width: 240px;
}
.columnized > * {display:block;}
.disabled {background-color:#aaaaaa; border-color:#666666;}
#inputsizer {visibility:hidden;font:inherit;}
p,hr,div {margin:0; padding:0;}
ul,ol,li {margin:0; padding-top:0; padding-bottom:0;/*line-height:1em;*/}
#output {border:3px gray inset; flex:1; overflow:auto; padding: 0 0.5em; white-space:pre-wrap; overflow-wrap:break-word;}
	#output .error            {color:#990000; font-weight:100;}
	#output .connection       {color:#aaaaff; font-size:smaller; font-style:italic;}
	#output .client           {font-size:smaller; font-style:italic;}
	#output .client-opts      {color:#aa6b00; padding-left:1%;}
	#output .client-currentopt{font-weight:bold;background-color:rgba(0, 64, 0, 0.5);}
	#output .client-defaultopt{font-style:italic;}
	#output .sending          {font-weight:bold;}
	#output .pre              {white-space:pre; font-family:monospace;}
	#output .centertag        {text-align:center;}
	#output .genbig           {font-size:large;}
	#output p                 {word-wrap:break-word;}
	#output div               {min-height:1em;}
	#output .inputecho        {font-weight:bold; font-style:italic;}
	#output table             {border-spacing:0px; /*width:100%;*/ /*line-height:1em;*/ overflow-wrap:break-word;border-bottom:1px dotted #333; border-right:1px dotted #333;}
	#output table.snug        {max-width:100%; width:auto;}
	#output table.fill        {max-width:100%; width:100%;}
	#output th                {border-top:1px dotted #333; border-left:1px dotted #333; text-align:left; padding:0 4px;}
	#output td                {border-top:1px dotted #333; border-left:1px dotted #333; text-align:left; padding:0 4px;}
	#output table.tinyheaders th{font-variant: small-caps;font-size: smaller;line-height: 1;background: transparent;border-top: none;}
	#output table.captionleft caption{text-align:left;}
	#output table.captioncenter caption{text-align:center;}
	#output table.limitwidth  {max-width:100%; width:normal;}
	#output table.limitwidth th {max-width:155px;}
	#output table.limitwidth td {max-width:155px;}
	#output a                 {font-weight:bold;cursor:pointer;color:#3333ff;text-decoration:none;}
	#output a:hover           {color:#7777ff;}
	#output .client-info > table {border-width:3px; border-style:solid;}
#settings-ui {
	position:absolute;
	top:0;
	border:4px double black;
	border-radius: 6px;
	background-color: white;
	margin: 0 10%;
	max-height:100%;
	overflow: auto;
}
	#settings-tabtitles {border-bottom:1px solid black; background-color:#222;}
		.tabtitle {
			display:inline-block;
			padding:0px 2px;
			border-color: beige;
			border-width: 1px 1px 0px 1px;
			border-style: solid;
			border-radius: 6px 6px 0px 0px;
			background-color: #bbb;
			max-height: 100%;
			overflow: auto;
		}
		.activetabtitle {background-color:#fff;}
	.tabbody {display:none;}
	.activetab {display:block;}
	#settings-save, #settings-savelocal {display: inline-block;}