#debugtoolbar      {color:#c7c7c7; background-color:#060b0e;}
#commandinput      {color:#c7c7c7; background-color:#060b0e; border-color:black;}
#output            {color:#c7c7c7; background-color:#060b0e; border-color:black;}
#output .error     {color:#990000; font-weight:100;}
#output .gengrey   {color:#646464;}
#output .genwhite  {color:#060b0e;}
#output .genred    {color:#e12000;}
#output .gengreen  {color:#00cd20;}
#output .genorange {color:#ff9b00;}
#output .genblue   {color:#3C5CFF;}
#output .genpink   {color:#e119e1;}
#output .gencyan   {color:#00cde1;}
#output .genblack  {color:#ffffff;}
#output .inputecho {color:#707000; font-weight:normal;}
#output tbody tr:nth-child(odd) { background-color: #1a1a1a;}
#output .columnized > *:nth-child(odd) { color: #ffffff;}
#core {font-family:"Lucida Grande", "Anadale Mono", Monaco, monospace;font-size:12px;}