#output            {color:black; background-color:white;}
#output .error     {color:#990000; font-weight:bold;}
#output .gengrey   {color:#646464;}
#output .genwhite  {color:#ffffff;}
#output .genred    {color:#e12000;}
#output .gengreen  {color:#00cd20;}
#output .genorange {color:#ff9b00;}
#output .genblue   {color:#0020ff;}
#output .genpink   {color:#e119e1;}
#output .gencyan   {color:#008A9E;}
#output .genblack  {color:#060b0e;}
#output tbody tr:nth-child(odd) { background-color: #e2e2e2;}
#output .columnized > *:nth-child(odd) { color: #555;}