#debugtoolbar      {color:#ffffff; background-color:#000000;}
#commandinput      {color:#ffffff; background-color:#000000; border-color:black;}
#output            {color:#ffffff; background-color:#000000; border-color:black;}
#output .error     {color:#990000; font-weight:100;}
#output .gengrey   {color:#646464;}
#output .genwhite  {color:#000000;}
#output .genred    {color:#ff0000;}
#output .gengreen  {color:#00ff00;}
#output .genorange {color:#ff9b00;}
#output .genblue   {color:#0000ff;}
#output .genpink   {color:#ff19e1;}
#output .gencyan   {color:#00ffff;}
#output .genblack  {color:#ffffff;}
#output tbody tr:nth-child(odd) { background-color: #222;}
#output tbody tr:nth-child(even) { background-color: #111;}
#output thead tr:nth-child(even) { background-color: #333;}
#output thead tr:nth-child(odd) { background-color: #2a2a2a;}
#output .columnized > *:nth-child(odd) { color: #dddddd;}