/* #left {background-image:url('http://www.skotos.net/IronclawGame/images/edgeleft.jpg');}
#right {background-image:url('http://www.skotos.net/IronclawGame/images/edgeright.jpg');} */

html, body{
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    background: #231F20;
    color: #ececec;
    font-family: "Baskerville", Times, serif;
    font-weight: bold;
    font-size: 14px;
}

embed {
	width: 100%;
	height: 100%;
}

.selected {
	border: 1px solid #ad974f;
	background: #eaeaea;
	color: black;
}

.far {
	padding-right: 6px;
}

.fas {
	padding-right: 6px;
}

.fa-folder {
	color: #8E793E;
}
.fa-folder-open {
	color: #8E793E;
}

.fa-file {
	color: #ad974f;
}

.label {
    display: table-cell;
    position: relative;
    width: 600px;
	white-space:nowrap;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid #231F20;
    margin: auto;
    
}

.label:hover {
	background: #eaeaea;
    white-space:nowrap;
	color: #231F20;
	opacity: 0.9;
	border: 1px solid #ad974f;
}


.folder {
	border: 1px solid #231F20;
	display: block;
	margin-left: 5px;
}

.subfolder {
		border: 1px solid #231F20;
	/* display: none; */
}

.file {

		border: 1px solid #231F20;
	/* display: none; */
}

#sidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-thumb
{
	background-color: #ad974f;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

#mainclient {
	height: 100%;
	padding: 0;
	margin: 0;
}

#view {
	margin: 0;
	padding: 0;
	height: 100vh;
}

#viewer {
	margin: 0;
	padding: 0;
	height: 100vh;
}

#core {
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	background: white;
}

#sidebar {
	float: left;
	height: 100%;
	display: inline-block;
	overflow-x: auto;
	overflow-y: scroll;
	padding: 0;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

